.trending-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 42px;
    font-weight: 700;
    color: #212130;
    padding-bottom: 58px;
}

.button {
    padding-top: 50px;
}

.button button{
    border-radius: 20px;
    width: 170px;
    height: 40px;
    border: 1px solid #6B68F3;
    color: #212130;
    font-size: 15px;
    font-weight: 700;
}