.embla {
    display: flex;
    justify-content: center;
    align-items: center;
}

.embla_viewport {
    overflow: hidden;
    max-width: 1170px;
    height: 400px;
}

.embla__container {
    display: flex;
    gap: 30px;
    padding-inline: 30px;
}

.embla__slide {
    height: 390px;
    flex: 0 0 370px;
    min-width: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
}

.embla__prev {
    border: none;
    padding-right: 45px;
    background: none;
}

.embla__prev img {
    transform: rotate(180deg);
    width: 20px;
    color: gray;
}

.embla__next {
    border: none;
    padding-left: 45px;
    background: none;
}

.embla__next img {
    width: 20px;
    color: gray;
}

.embla__slide img {
    width: 370px;
    height: 200px;
}

.slider-author {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 15px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #212130;
}

.slider-author img {
    width: 40px;
    height: 40px;
}

.slider-title {
    padding: 10px 0px 5px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #212130;
}

.slider-donation {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 8px;
}

.progress {
    max-width: 330px;
    color: #2a2a2a;
}

.bar {
    width: 330px;
    height: 6px;
    background: #e9ecf1;
    border-radius: 999px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.03);
}

.bar-fill {
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg,#ffb09e, #6f7bf7);
    border-radius: inherit;
}

.donation-info {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 14px;
    justify-content: space-between;
    align-items: center;
    
}

.donation-info img {
    display: block;
    width: 15px;
    height: 11px;
}

.donation-info p {
    font-size: 11px;
    font-weight: 500;
    color: #56566B;
}

.donation-info-left {
    display: flex;
    column-gap: 10px;
    width: 200px;
}